################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Laba1/.vs/Laba1
/Laba1/Laba1/x64/Debug
